<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'backgroudhome.jpg' %>);">
  <div class="container justify-content-center">
    <h1>The safest way to buy and sell tickets</h1>
  </div>
  </div>

<div class="container justify-content-start">
  <h3 class="header mt-5"><strong>Purchase History</strong></h3>
</div>

<div class="container">
  <% @orders.each do |order| %>
    <div class="card-product">
      <img src="<%= image_path order.ticket.artist.downcase.gsub(' ', '_') + '.jpg' %>"/>
      <div class="card-product-infos">
        <h2><%= order.ticket.artist %></h2>
        <p>The show takes place in <b><%= order.ticket.city %></b></p>
        <h2>$ <%= order.ticket.price %></h2>
      </div>
    </div>
  <% end %>
</div>
