<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'backgroundhome.jpg' %>);">
  <div class="container justify-content-center">
    <h1>The safest way to buy and sell tickets</h1>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control custom-width",
            placeholder: "Search for an artist"%>
        <% end %>
      </div>
    </div>
  </div>
  </div>

<div class="container justify-content-center">
  <h3 class="header mt-3 mb-3"><strong>Tickets available</strong></h3>

    <div class="cards">
      <% if @tickets.any? %>
      <% @tickets.each do |ticket| %>
        <%= link_to ticket_path(ticket), class: "navbar-brand" do %>
          <% if ticket.artist == 'Nx Zero' %>
            <% img_background = 'nx_zero.jpeg' %>
              <% elsif ticket.artist == 'Pink Floyd' %>
              <% img_background = 'pink_floyd.jpg' %>
              <% elsif ticket.artist == 'Beatles' %>
              <% img_background = 'beatles.jpeg' %>
              <% elsif ticket.artist == 'Imagine Dragons' %>
              <% img_background = 'imaginedragons.jpg' %>
              <% elsif ticket.artist == 'Post Malone' %>
              <% img_background = 'post_malone.jpg' %>
              <% else %>
              <% img_background = 'backgroundhome.jpg' %>
           <% end %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path img_background %>)">
            <div class="artist-card">
              <%= ticket.artist %>
            </div>
            <div class="meta-data-card">
              <div class="date">
                <%= ticket.event_date.strftime('%d/%m/%y')%>
              </div>
              <div class="city">
                <%= ticket.city %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class=message>Sorry! No tickets available at the moment &#x1F972;</p>
    <% end %>
  </div>
</div>
