<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'backgroudhome.jpg' %>);">
  <div class="container justify-content-center">
    <h1>The safest way to buy and sell tickets</h1>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control custom-width",
            placeholder: "Search for an artist"%>
        <% end %>
      </div>
    </div>
  </div>
  </div>

<div class="container justify-content-center">
  <h3 class="header mt-5"><strong>Trending now</strong></h3>

    <div class="cards">
      <% @tickets.each do |ticket| %>
        <%= link_to ticket_path(ticket), class: "navbar-brand" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2022/08/arctic-monkeys-e1661342211280.jpg?w=1200&h=675&crop=1)">
            <div class="artist"><%= ticket.artist %></div>
            <div class="d-flex">
              <div class="date">
                <%= ticket.event_date.strftime('%d/%m/%y')%>
              </div>
              <div class="city">
                <%= ticket.city %>
              </div>
            </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
