<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'backgroudhome.jpg' %>);">
  <div class="container justify-content-center">
    <h1>The safest way to buy and sell tickets</h1>
    <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: tickets_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control custom-width",
            placeholder: "Search for an artist"%>
    <% end %>
  </div>
</div>
  </div>
</div>

<div class="container justify-content-center">
  <h3 class="header mt-5"><strong>Trending now</strong></h3>


  <div class="cards mt-3 justify-content-center">
    <% @tickets.each do |ticket| %>

      <%= link_to ticket_path(ticket) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path ticket.artist.downcase.gsub(' ', '_') + '.jpg' %>)">
          <%= ticket.artist %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
