<div class="container mt-5 align-text-center">
  <div class="d-flex justify-content-center">
      <h1>Event:</h1>
      <p>Artist: <% @tickets.each do |ticket| %>
      <%=ticket.artist%></p>
    </div>

<div class="card-product">
  <div class="card-product-infos">

    <p><ul>
        <li><%=ticket.ticket_type%></li>
        <li><%=ticket.price%></li>
        <li><%=ticket.city%></li>
        <li><%=ticket.event_date%></li>
        <p><%= link_to "Buy ticket", ticket_path(ticket) %></p>
      </ul></p>
  </div>
</div>
    <% end %>
    </div>
</div>
