<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'backgroundhome.jpg' %>);">
  <div class="container justify-content-center">
    <h1>The safest way to buy and sell tickets</h1>
  </div>
  </div>

<div class="container justify-content-start">
  <h3 class="header mt-3 mb-3"><strong>My tickets</strong></h3>
</div>

<div class="cards-container">
  <% @tickets.each do |ticket| %>
    <div class="card-product">
      <img src="<%= image_path ticket.artist.downcase.gsub(' ', '_') + '.jpg' %>"/>
      <div class="card-product-infos">
        <h2><%= ticket.artist %></h2>
        <p>The show takes place in <b><%= ticket.city %></b>
        on <b> <%= ticket.event_date.strftime('%d/%m/%y') %></b></p>
        <div class="d-flex justify-content-between mt-3">
        <h2>$ <%= ticket.price %></h2>
          <div class="card-product-flex">
          <%= link_to ticket, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class: "gold-icon" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <br>
          <%= link_to edit_ticket_path(ticket), class: "gold-icon" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
