<div class="container mt-5 align-text-center">
  <div class="card-product" style= "height:300px;">
      <h2>Event</h2>
      <h3>Artist: <% @tickets.each do |ticket| %>
      <%=ticket.artist%></h3>
    </div>
  </div>
<div class="ticket-info">
    <p><ul>
        <li><%=ticket.ticket_type%></li>
        <li><%=ticket.price%></li>
        <li><%=ticket.city%></li>
        <li><%=ticket.event_date%></li>
        <p><%= link_to "Buy ticket", ticket_path(ticket) %></p>
      </ul></p>
  </div>
</div>
    <% end %>
