
<h1>Tickets:
<% @tickets.each do |ticket| %>
  <%=ticket.artist%>
</h1>
<div class="artistimage"><img src="beatles.jpeg" alt="beatles" class="rounded-circle position-sticky" style= "width: 80px;"></div>
<div>
<ul>
  <li><%=ticket.ticket_type%></li>
  <li><%=ticket.price%></li>
  <li><%=ticket.city%></li>
  <li><%=ticket.event_date%></li>
  </ul>
    <p>
      <%= link_to "Details ticket", ticket_path(ticket) %>
    </p>
  <% end %>
</div>
