  <div class="container">
    <div class="card-title">
      <h1>Event</h1>
      <h2>Artist: <% @tickets.each do |ticket| %>
      <%=ticket.artist%></h2>
        <img class=beatles src="/beatles.jpeg" class="card-trip-user avatar-bordered" />
    </div>
    <div class="card-ticket">
        <p><ul style="margin: 0px; padding: 0px">
        <li><strong>Preço:</strong> <%=ticket.price%></li>
        <li><strong>Local:</strong> <%=ticket.city%></li>
        <li><strong>Data:</strong> <%=ticket.event_date%></li>
          <div class="type">
        <li><strong>Tipo:</strong> <%=ticket.ticket_type%></li>
            </div>
        <div class="buy">
        <p><%= link_to "Buy ticket", ticket_path(ticket) %></p>
        </div>
        <% end %>
      </ul></p>
    </div>
  </div>
