<p style="color: green"><%= notice %></p>

  <h1> <%= @ticket.artist %> show in <%= @ticket.city %></h1>
  <h2>Show will be held on <%= @ticket.event_date %></h2>
  <p>The ticket price is <%= @ticket.price %> for <%= @ticket.ticket_type %></p>

  <%= link_to "Back to your search", tickets_path %>
  <p> Yes, this is the ticket I want! <%= link_to "Get it", tickets_path %></p>
