<p style="color: green"><%= notice %></p>
<div class="container">
<div class="card-trip">
  <img src="<%= image_path @ticket.artist.downcase.gsub(' ', '_') + '.jpg' %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @ticket.artist %></h2>
      <p>The show will be held in <b><%= @ticket.city %></b></p>
    </div>
    <h2 class="card-trip-pricing">$<%= @ticket.price %></h2>
  </div>
       <%= link_to "Back to your search", tickets_path %>
     <li class="list-group-item">
      <%= link_to "Get this Ticket", ticket_orders_path %></p>
    </li>
</div>
</div>
